/*
 * basic
**/

html,
body {
    font-size: $font-m;
    font-family: 'Microsoft JhengHei', Arial, sans-serif;
    line-height: 173%;
    color: #333;
    background: #f5f5f5;
    height: 100%;
    overflow: auto;
}



ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

a {
    color: $link;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h2{
    text-align: center;
    font-weight: normal;
    font-size: $font-xl;
    color:#333;
}

.clearfix {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
}

.add-margin-bottom {
    margin-top: 20px;
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.outer {
    @include min-height(100%);
    overflow: auto;
}

.wrap {
    & {
        background: #fff;
        max-width: 375px;
        margin: 90px auto;
        border: 1px solid #e0e0e0;
        padding: 0 150px 75px 75px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    }
    &.align-center {
        & {
            max-width: 405px;
            padding: 0 100px 75px 100px;
        }
        #header .logo {
            float: none;
            @include center-block;
        }
        #main h1 {
            font-size: $font-xl;
            text-align: center;
        }
        .text-block,
        .btns-group {
            margin-left: 0;
            text-align: center;
        }
        .btns-group{
            .btn{
                @include center-block;
                max-width: 300px;
            }
        }
    }
}

.text-block {
    margin-left: 70px;
    p {
        margin-bottom:15px;
        color: #666;
        &.set-bottom {
            margin-top: 26px;
            padding-top: 8px;
            @include border-top();
        }
    }
    .acc {
        font-size: $font-xl;
        font-weight: bold;
        padding: .3em 0;
    }
    strong {
        color: $red;
    }
}

.btns-group {
    & {
        margin-left: 70px;
    }
    p {
        text-align: center;
        color: #666;
        &.set-bottom {
            margin-top: 26px;
            padding-top: 8px;
            @include border-top();
        }
    }
    .btn {
        margin-bottom: 15px;
    }
    .or {
        & {
            position: relative;
            text-align: center;
            margin: -10px 0 8px 0;
        }
        hr {
            height: 0;
            position: absolute;
            top: .4em;
            width: 100%;
            @include border-top();
        }
        span {
            background: #fff;
            position: relative;
            z-index: 1;
            padding: 0 .75em;
            color: #aaa;
        }
    }
}

.ui-tabs {
    & {
        overflow: hidden;
        margin: 0 0 40px 70px;
    }
    .tab {
        & {
            display: block;
            float: left;
            width: 50%;
            @include border-bottom(4px);
            text-align: center;
            padding: 10px 0;
            position: relative;
            font-size: $font-l;
        }
        &:hover {
            text-decoration: none;
        }
        &.active {
            color: #000;
            border-bottom-color: #ff7800;
        }
    }
}

.row-group {
    & {
        margin-left: 70px;
        margin-bottom: 15px;
    }
    p {
        margin: 0;
    }
}

.error {
    p {
        text-align: center;
    }
    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
.text-left{
    text-align: left;
}

//英文版
.en{
    .wrap{
        max-width: 430px;
        padding: 0 75px 75px;
    }
    .btns-group {
        margin-left: auto;
        margin-right: auto;
        width: 80%
    }
    .text-block {
        margin-left: 0
    }
    .ui-tabs {
        margin: 0 auto 40px;
        width: 80%
    }
    #search{
        .text-block {
            margin-left: 70px;
        }
        .btns-group {
            margin-left: 70px;
            width: auto;
            margin-right: 5px;
        }
    }
}